In [1]:
import re
import string
import pandas as pd
from math import log
import os
import random
import re
import string
from collections import Counter
from sklearn.cluster import KMeans
import pickle

import nltk
import numpy as np
import pandas as pd

from gensim.models import Word2Vec

from nltk import word_tokenize
from nltk.tokenize import wordpunct_tokenize
from nltk.corpus import stopwords

import warnings
warnings.filterwarnings("ignore")
nltk.download("stopwords")


SEED = 42
random.seed(SEED)
os.environ["PYTHONHASHSEED"] = str(SEED)
np.random.seed(SEED)

[nltk_data] Downloading package stopwords to /Users/joker/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
final_counts = []

In [3]:
def clean_text(text):
    text = str(text).lower() 
    text = text.translate (str.maketrans('', '', string.punctuation))
    text = re.sub("\d+", "", text)
    text = re.sub(r"\s+", " ", text)  # Remove multiple spaces in content
    text = re.sub('[!()-[]{};:\'"\,<>./?@#$%^&*_~–]+', '', text)
    return text

In [8]:
all_roman = [] #list to keep all the grievances with more Devnagri words than non-Devnagri

In [5]:
pref = "/Volumes/olaaaa/Thesis_backup/data/"

In [9]:
for file in os.listdir("/Volumes/olaaaa/Thesis_backup/data"):
    #print(file, "here")
    if file.endswith("csv"):
        # print("here")
        df = pd.read_csv(pref+file, header = None, low_memory=False)
        # print(len(df))
        df = df[[0,21]]
        df.columns = ['reg_no', 'subject_content']
        
        df['subject_content_cleaned'] = df['subject_content'].apply(clean_text)
        tmp = [ val for val in df['subject_content_cleaned'].values \
        if len(re.findall("[a-z]+",val)) > 0.5*len(val.split())]
        all_roman.extend(tmp) 
        print(file, "Size of updated list", str(len(all_roman)))
        # print()

chunk8.csv Size of updated list 771813
chunk9.csv Size of updated list 1086405
chunk2.csv Size of updated list 1887324
chunk3.csv Size of updated list 2817237
chunk1.csv Size of updated list 3714626
chunk0.csv Size of updated list 4583761
chunk4.csv Size of updated list 5579426
chunk5.csv Size of updated list 6536852
chunk7.csv Size of updated list 7270426
chunk6.csv Size of updated list 8053182

In [10]:
len(all_roman)

8053182

In [11]:

with open('all_roman.pkl', 'wb') as f:
    pickle.dump(all_roman, f)

In [12]:
with open('all_roman.pkl', 'rb') as f:
    loaded = pickle.load(f)

In [ ]:
df = pd.DataFrame(all_roman)

In [ ]:
df.columns = ['subject_content']

In [18]:
def freq(sent):
    arr = np.zeros(26)
    for letter in sent:
        if 97 <= ord(letter) <= 122:
            # print("here")
            arr[ord(letter) - 97] += 1 
    #arr[::-1].sort()
    
    return arr / np.linalg.norm(arr) #normalization

In [17]:
# list(df.subject_content.values)

In [20]:
df['histograms'] = df['subject_content'].apply(freq)

In [21]:
df.isna().sum()

subject_content    0
isDevnagri         0
histograms         0
dtype: int64

In [22]:
df_non_roman_non_devnagri.head()

,subject_content,isDevnagri,histograms
13,respected sirmadam আমার নাম জয়ন্ত মণ্ডল আমার ...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
30,மதிப்பிற்குரிய ஐயா வணக்கம் பொருள் எரிவாயு சப்ள...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
40,নমস্কার স্যার আমি আপনার কাছে একটাই অনুরোধ যে আ...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
52,ঘার কে লিয়ে এপ্লাই,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
58,স্যার আমি একজন গরীব কৃষক কুলতলী থানার কাওড়াখাল...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [23]:
with open('df_non_roman_non_devnagri_histograms.pkl', 'wb') as f:
    pickle.dump(df_non_roman_non_devnagri, f)

In [42]:
with open('df_non_roman_non_devnagri_histograms.pkl', 'rb') as f:
    df = pickle.load(f)

In [43]:
clusters = 7
def mbkmeans_clusters(X, k):
    km = KMeans(n_clusters=k).fit(X)
    return km.labels_

In [44]:
df

,subject_content,isDevnagri,histograms
13,respected sirmadam আমার নাম জয়ন্ত মণ্ডল আমার ...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
30,மதிப்பிற்குரிய ஐயா வணக்கம் பொருள் எரிவாயு சப்ள...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
40,নমস্কার স্যার আমি আপনার কাছে একটাই অনুরোধ যে আ...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
52,ঘার কে লিয়ে এপ্লাই,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
58,স্যার আমি একজন গরীব কৃষক কুলতলী থানার কাওড়াখাল...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...
1349791,માનનીય સાહેબ જીતના અભિનંદન પણ દાહોદ ની જીતથી હ...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1349793,மேதகு பாரதபிரதமர் அவர்களுக்கு பணிவான முதல் வணக...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1349808,মোৰ শ্ৰদ্ধাৰ মৰমৰ আদৰণীয় সন্মানীয় মাননীয় ভাৰতৰ...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1349822,பாரத் மாதாகி ஜெய் பாரத் மாதாகி ஜெய் பாரத் மாதா...,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1349827,congratulations ખૂબ ખૂબ અભિનંદન,,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [45]:
df = df.loc[ df.histograms.map(lambda x: ~np.isnan(x).any()), :]

In [46]:
df['labels'] = mbkmeans_clusters(
    X=list(df['histograms'].values),
    k=clusters,
)

In [47]:
df.labels.value_counts()

1    58914
2    11580
0     8950
4     5335
5     3223
3     1101
6      891
Name: labels, dtype: int64

In [41]:
df[df.labels == 2].subject_content.to_csv("/Volumes/olaaaa/Thesis_backup/count_languages_devnagri/scripts/"+str(2)+".csv")

In [48]:
for i in range(clusters):
    print(df[df.labels == i])
    df[df.labels == i].subject_content.to_csv("/Volumes/olaaaa/Thesis_backup/count_languages_devnagri/scripts/"+str(i)+".csv")

                                           subject_content isDevnagri  \
101      ಭಾರತ ಮತ್ತು ಚೀನಾ ನಡುವಿನ ಯುದ್ಧದಲ್ಲಿ ನನಗೆ ಭಾಗವಹಿಸ...
109      ಭಾರತ ಮತ್ತು ಚೀನಾ ನಡುವಿನ ಯುದ್ಧದಲ್ಲಿ ನನಗೆ ಭಾಗವಹಿಸ...
270      dear sir i m ganesh kundapura ಸರ್ ಭಾರತ ಚೀನಾದ ಗ...
617      ಭಾರತದ ಪ್ರಧಾನ ಮಂತ್ರಿಗಳಾದ ಶ್ರೀ ನರೇಂದ್ರ ದಾಮೋದರದಾಸ...
840      ಸರ್ ನನ್ನದೊಂದು ವಿನಂತಿ ನಾನು sansera engineering ...
...                                                    ...        ...
1349512  dear sir ಯಾವ ಧರ್ಮವನ್ನು ದ್ವೇಷಿಸಲಿಲ್ಲ ಯಾವ ಜಾತಿಯನ...
1349608  ಬಿಜೆಪಿ ಅಭೂತಪೂವ ಗೆಲುವಿನಲ್ಲಿ ಪ್ರಮುಖ ಪಾತ್ರ ವಹಿಸಿದ...
1349689   ಲೋಕಸಭಾ ಚುಣಾವನೆಯಲ್ಲಿ ಮುನ್ನಡೆ ಸಾಧಿಸಿರುವ ನನ್ನ ಆತ...
1349712  ಪ್ರಧಾನ ಮಂತ್ರಿಗಳು ಶ್ರೀ ಮೋದಿಯವರಿಗೆ ಹೃದಯಪೂರ್ವಕ ಜಯ...
1349721  ಪ್ರಧಾನ ಮಂತ್ರಿ ಗಳಲ್ಲಿ ಮನವಿ ಸಮುದ್ರಕ್ಕೆ ಹತ್ತಿರವಿರ...

                                                histograms  labels
101      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
109      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
270      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
617      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
840      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
...                                                    ...     ...
1349512  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
1349608  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
1349689  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
1349712  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0
1349721  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       0

[8950 rows x 4 columns]
                                           subject_content isDevnagri  \
83       માનનીય વડાપ્રધાનશ્રી નરેન્દ્રભાઈ મોદી સાહેબસાહ...
89       માનનીય વડાપ્રધાનશ્રી નરેન્દ્રભાઈ મોદી સાહેબસાહ...
110      માનનીય સાહેબ નરેન્દ્ર મોદી આપણે જાણીએ છીએ કે ક...
119      માનનીય પ્રધાનમંત્રી સાહેબ મારી તમને નમ્ર વિનંત...
184      તમે મહાભારત કે રામાયણ માં શહીદ શબ્દ સાંભળ્યો આ...
...                                                    ...        ...
1349726  માનનીક્ષી વડાપ્રધાન શ્રી નરેન્દ્ર મોદી તમને વિ...
1349749  નમસ્તે મોદી સાહેબ પૂર્ણ બહુમત માટે ખૂબ ખૂબ અભિ...
1349784  આદરણીય મોદી સાહેબ ને સપ્રેમ નમસ્કાર સાહેબ હવે ...
1349791  માનનીય સાહેબ જીતના અભિનંદન પણ દાહોદ ની જીતથી હ...
1349827                    congratulations ખૂબ ખૂબ અભિનંદન

                                                histograms  labels
83       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
89       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
110      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
119      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
184      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
...                                                    ...     ...
1349726  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
1349749  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
1349784  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
1349791  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1
1349827  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       1

[58914 rows x 4 columns]
                                           subject_content isDevnagri  \
30       மதிப்பிற்குரிய ஐயா வணக்கம் பொருள் எரிவாயு சப்ள...
122      பாரத பிரதமர் திரு நரேந்திர மோடி அவர்களுக்கு வண...
128      மதிப்பிற்குறிய பாரத பிரதமர் அவர்களுக்கு வணக்கம...
145      respected sir நான் ஒரு indian army its my ambi...
213      ஐயா எனது பெயர் பழனிசாமி நான் சேலம் மாவட்டம் எட...
...                                                    ...        ...
1349420  மாண்புமிகு அய்யா வணக்கம்…… தேர்தலில் நாடு முழு...
1349466  மீண்டும் பிரதமர் பதவில் அமரும் பிரைம் மினிஸ்டர...
1349668  சேலம் மாவட்டம் ஓமலூர் வட்டம் தாரமங்கலம் எம் ஜி...
1349793  மேதகு பாரதபிரதமர் அவர்களுக்கு பணிவான முதல் வணக...
1349822  பாரத் மாதாகி ஜெய் பாரத் மாதாகி ஜெய் பாரத் மாதா...

                                                histograms  labels
30       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
122      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
128      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
145      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
213      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
...                                                    ...     ...
1349420  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
1349466  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
1349668  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
1349793  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2
1349822  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       2

[11580 rows x 4 columns]
                                           subject_content isDevnagri  \
628      ਸ਼੍ਰੀ ਨਰਿੰਦਰਮੋਦੀ ਜੀ ਸਾਨੂੰ ਅਵਾਸ ਯੋਜਨਾ ਨਹੀ ਮਿਲਿਆ ...
1351     ਮੇਰਾ ਪੁਰਾ ਮਕਾਨ ਕੱਚਾ ਹੈ ।ਮੈ ਸਰਪੰਚ ਕੋ ਕਾਫ਼ੀ ਬਾਰ ਫ਼...
5045     pm saab ji ਆਪ ਜੀ ਨੂੰ ਸਰਕਾਰੀ ਨੌਕਰੀ ਦੇ regarding...
5298     ਸਤਿ ਸ੍ਰੀ ਅਕਾਲ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਜੀ। ਬੇਨਤੀ ਹੈ ਜੀ ਕਿ ...
5369     ਸਤਿ ਸ੍ਰੀ ਅਕਾਲ ਪ੍ਰਧਾਨ ਮੰਤਰੀ ਜੀ। ਬੇਨਤੀ ਹੈ ਕਿ ਜੀ ...
...                                                    ...        ...
1348668  ਮੈਬਲਵੀਰਸਿੰਘਪੁਤਰਬਗੀਚਾਸਿੰਘਪਿਡਆਸਪਾਲਾਨੇੜੇਸਰਕਾਰੀਸਕੂ...
1348670  ਮੈਬਹੋੜਸਿਘਪਿਡਆਸਪਾਲਾਨੇੜੇਸਰਕਾਰੀਸਕੂਲਤਸਹੀਲਮਲੋਟਜਿਲਾਮ...
1348999  ਮੈਕੁਲਦੀਪਸਿੰਘਪੁਤਰਮਿਲਖਾਸਿੰਘਪਿਡਆਸਪਾਲਾਨੇੜੇਪੰਚਾਇਤਘਰ...
1349021  ਸਰ ਮੇਰਾ ਨਾਮ ਗਿਅਾਨੋ ਦੇਵੀ ਪਤਨੀ ਪ੍ਤੀਮ ਦਾਸ ਹੈ ਸਰ ਮ...
1349406  ਸਤਿਕਾਰ ਯੋਗ ਤੇ ਸਾਡੇ ਹਰਮਨ ਪਿਆਰੇ ਪ੍ਰਧਾਂਨ ਮੰਤਰੀ ਸਾ...

                                                histograms  labels
628      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
1351     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
5045     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
5298     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
5369     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
...                                                    ...     ...
1348668  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
1348670  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
1348999  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
1349021  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3
1349406  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       3

[1101 rows x 4 columns]
                                           subject_content isDevnagri  \
13       respected sirmadam আমার নাম জয়ন্ত মণ্ডল আমার ...
40       নমস্কার স্যার আমি আপনার কাছে একটাই অনুরোধ যে আ...
52                                     ঘার কে লিয়ে এপ্লাই
58       স্যার আমি একজন গরীব কৃষক কুলতলী থানার কাওড়াখাল...
70       dear sir আপনার কাছে আমার বিনিত নিবেদন যে আমার ...
...                                                    ...        ...
1349537   অভিনন্দন অভিনন্দন অভিনন্দন । পশ্চিমবঙ্গে স্বাগতম
1349631  পিএম মোদি আপনি সত্যিই মানুষের মন চুরি করে নিয়...
1349742  ঔঁ মাননীয় প্রধানমন্ত্রী নরেন্দ্র মোদী জী মহাশয়...
1349771  স্যার আমি সালে গ্রামীণ ডাক সেবক পদে আবেদন করেছ...
1349808  মোৰ শ্ৰদ্ধাৰ মৰমৰ আদৰণীয় সন্মানীয় মাননীয় ভাৰতৰ...

                                                histograms  labels
13       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
40       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
52       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
58       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
70       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
...                                                    ...     ...
1349537  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
1349631  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
1349742  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
1349771  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4
1349808  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       4

[5335 rows x 4 columns]
                                           subject_content isDevnagri  \
163      గౌరవనియులైన ప్రధానమంత్రి శ్రీ నరేంద్రమోడీ గారి...
1006     భారతదేశ ప్రధాన మంత్రి వర్యులయినటువంటి శ్రీ మహా...
1248     ఆంధ్రప్రదేశ్ లో మీసేవ నిర్వాహకులు బ్రతుకులు కా...
4525      reliance is destroying the seashore villages ...
4568     గౌరవనీయులైన ప్రధాన మంత్రి గారికి నమస్కారములతో ...
...                                                    ...        ...
1349443  bjp భారత దేశంలో బి జె పి గెలుపు తథ్యం 🇮🇳 bjp o...
1349514  ప్రధానమంత్రి నరేంద్రమోడీ గారికి పాదాభి వందనం న...
1349542  భారతదేశ పార్లమెంట్ ఎన్నికల లో akhanda vijayam ...
1349565  congratulations modiji మరోసారి మీరు ప్రధానమంత్...
1349611  pm of india manya sri నరేంద్ర మోది గారికి హ్రు...

                                                histograms  labels
163      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
1006     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
1248     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
4525     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
4568     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
...                                                    ...     ...
1349443  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
1349514  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
1349542  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
1349565  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5
1349611  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       5

[3223 rows x 4 columns]
                                           subject_content isDevnagri  \
1257     ମାନ୍ୟବର ପ୍ରଧାନମନ୍ତ୍ରୀଙ୍କୁ ମୋର ନମସ୍କାର । ମୁଁ ପୁ...
1689     सूशांत सर को इनशाफ मिलना चाहिए । miss you susa...
1896     sir ନମସ୍କାର i am ramesh chandra barik father l...
1956     ସଂମାନିୟ ପ୍ରଧାନମନ୍ତ୍ରୀ ଆବାଶ ଯୋଜନା ବିଷୟମୁଁ ମାଟି ...
2746     ଧନ୍ୟବାଦ। ମୁଁ ଓଡ଼ିଶାର ଏକ ଗ୍ରାମର ବାସିନ୍ଦା। ସରକାର...
...                                                    ...        ...
1343298  ମାନନୀୟ ଶ୍ରୀ ଯୁକ୍ତ ପ୍ରଧାନମନ୍ତ୍ରୀ ଭାରତ ସରକାର ନୁଆ...
1344715  ମାନନୀୟ ପ୍ରିୟର ପ୍ରଧାନମନ୍ତ୍ରୀ ପ୍ରଥମେ ମୋର ନମସ୍କାର...
1346573  ମହାଶୟ ନିବେଦନ ର ଅଭିପ୍ରାୟ ଏହି କି ଯେ ମୁ ଓ ମୋର ସପର...
1347584  ସାର୍ ନମସ୍କାର୍ ସାର୍ ମୁଁ ଶ୍ରି ରବିନ୍ଦ୍ର କୁମାର ତ୍ର...
1348774  ମୋର ପ୍ରିୟ ପ୍ରଧାନମନ୍ତ୍ରୀ ନରେନ୍ଦ୍ର ମୋଦି ଜୀ ମହୋଦୟ...

                                                histograms  labels
1257     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
1689     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1474419561548...       6
1896     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
1956     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
2746     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
...                                                    ...     ...
1343298  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
1344715  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
1346573  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
1347584  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6
1348774  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...       6

[891 rows x 4 columns]